*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(37, 94, 233);
    height: 500px;
}


.header-container{
    display: flex;
}

.top-section-header{
    background-color: white;
    min-height: 30px;
    width: 80%;
    justify-content: center;
}

.header-text{
    min-height: 30%;
    background-color: white;
    justify-content: center;
}


footer{
    height: 500px;
    background-color: rgb(35, 39, 42);
}

.flex-container{
    display: flex;
}