*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(37, 94, 233);
    height: 400px;
}


.header-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.top-section-header{
    background-color: white;
    min-height: 30px;
    width: 85%;
    margin-top: 20px;
}


.header-text{
    background-color: white;
    width: 60%;
    min-height: 150px;
    margin-top: 110px;
}





.container{
    margin: 0;
    box-sizing: border-box;
}

.study-group{
    background-color: white;
    height: 500px;
    width: auto;
}

.just-chillin{
    background-color: rgb(246, 246, 246);
    height: 500px;
    width: auto;
}

.fandom{
    background-color: white;
    height: 500px;
    width: auto;
}

.last-section{
    background-color: rgb(246, 246, 246);
    height: 1000px;
    width: auto;
}


footer{
    height: 500px;
    background-color: rgb(35, 39, 42);
}

.flex-container{
    display: flex;
}